.pro{
  text-align: center;
   width: 30%;
   height:250px;
   margin:20px 10px;
   border-radius: 10px 10px 0px 0px;
  overflow:hidden;
  margin-top: 25px;
 
}

.pro-browser{
    height:20px;
    background: #39796b;
    display:flex;
    align-items: center;
    position:sticky;
    z-index: 2;
   
   

}
.pro-circle{
    width:6px;
    height: 6px;
    border-radius: 50%;
    margin:3px;
    background-color: #004d40;
}
.pro-img{
    width:100%;
    transition: all 10s ease;
}
.pro:hover .pro-img{
    transform: translateY(-50%);
}

@media screen and (max-width:480px) {
    .pro{
        width:40%;
        height: 20vh;
    }
    
}