.about{
    font-family:"Monserrat",sans-serif;
    height:100vh;
    display:flex;
    align-items:center;
   
   color:#ffffff;
}
.about-img{
    flex:1;
    display:flex;
  
    align-items:center;
    justify-content: center;
    position:relative;
    height:100%;
}
.about-me{
    flex:1;
}
.about-card.bg{
position:absolute;
top:50px;
left:50px;
background-color:#39796b;



}
.about-card{
    width:60%;
    height:70vh;
    border-radius:30px;
    position:absolute;
    overflow:hidden;
    font-weight: bold;
}
.aboutI{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.about-title{
    font-size: 40px;
    color:#39796b;
    font-weight: bold;

}
.ab-description{
    margin:20px 0px;
    font-weight: bold;
    color:#39796b;
    font-size: 20px;
    justify-content: space-between;

}

.description-my {
    font-weight: 300px;
   
}
@media screen and ( max-width:480px){
    .about{
        flex-direction: column;
        text-align: center;
        margin-top:50px;
    }
    .about-img{
      width: 100%;
    }

    .about-card{
        height: 100%;
        margin-bottom: 20px;
    }
    .about-card.bg{
        display:none;
    }
    .about-me{
        padding:5px;
        font-size: 5px;
    }
}