.contact{
    height: 100vh;
    width: 100vw;
    background-color:#00685b;
     position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    }

.contact-wrapper{
 
padding:50px;
color:#fff;
text-align:center;
}
.contact-t{
    color:#ffff;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
form{
    display:flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;

    
  
  }
   input{
    padding:10px 20px;
    margin-bottom: 1em;
    background: none;
    border:none;
  border-bottom:1px solid white; 
  color:white;
  outline:none;
  
  }
   textarea{
    height: 150px;
    background: none;
    color: white;
    padding: 1.5em;
    border:1px solid white; 
    outline: none;
  }
  .btn-submit{
    padding:10px;
    margin:1em;
    border:none;
    text-transform: uppercase;
    background-color:#003d32;
    border-radius: 20px;
  cursor:pointer;
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,69);
  color:#ffff;
  
  }
  .btn-submit:hover{
    background-color: whitesmoke;
    color:#003d32;
    box-shadow: none;
  }
  @media screen and (max-width:480px) {
    .contact-wrapper{
      flex-direction: column;
      padding:0px 50px;
    }

    .contact-t{
      font-size: 30px;

    }
    form{
      margin-top:0px;
      display:flex;
      flex-wrap: wrap;
    }

    input{
      width:35%;
      height:40px;
      margin:10px;
      margin-left:0;
    }
     button{
      margin-top:10px;
     }
  }
  @media screen and (max-width:480px) {
    .contact-t{
       margin-top: 40px;
    }
    textarea{
      height: 100px;
      width: 100px;
    }
    .btn-submit{
     width: 120px;
     height: 40px;
     font-size: 10px;
    }
}