 
 .content-i{
    width: 100vw;
    height:10vh;
background-color:#004d40;

 }.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    color:#ffffff;
  
  }
  .logo{
    margin-top: -7px;
  }
  .navbar span {
    color: #439688;
  }
  .main-menu{
    width:100vw;
    display:flex;
    
   justify-content: space-around;
 
  }
  .main-menu li{
    list-style: none;
  }
  
  .main-menu a {
    color: rgb(231, 231, 235);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .main-menu .selected{
    color:#439688;
  
  }
  .main-menu a:hover{
    background-color:#003d32;
    color:  #08311e;
   transition: ease-in, 4s;
  }
.container{
    display:flex;
   height:100vh;
    background-color:#00685b;
    width:100vw;
 
}
.Intro{
   
    flex:1;
}
.img{
    
    flex:1;
  }

.Intro-wrapper{
padding:50px;
height: 50%;
display:flex;
flex-direction: column;
justify-content: space-between;
}
.In-greeting {
   color:#ffff;
     font-size:30px;
    
    font-weight:bold;

}
.In-greeting span{
    color:#003d32;
    font-size: 40px;
    font-weight: bold;
}
.In-greetingN{
 
  color:#003d32;
  font-size:30px;
 
 font-weight:bold;


}


.In-title{
    height:50px;
    overflow:hidden;
}
.title-wrapper{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  font-family: "Monserrat"sans-serif;
  border-right: 0.15em solid #439688;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;;
   color:#439688;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.download-cv{
  padding: 10px 20px;
  
  background-color:#003d32;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor:pointer;
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,69);
  width: 20vw;
  color:#ffffff;
}
.download-cv:hover{
  background-color:#439688;
  box-shadow:none;
}
.title-item{
    height:50px;
    font-size:30px;
    font-weight:bold;
    color:#ffff;
    display:flex;
    align-items:center;
}
.In-img{
    width:100%;
    height:100%;
    object-fit: cover;
  position:relative;
}
@media screen and (max-width:480px) {
  .content-i{
    flex-direction: column;
    background-color: #004d40;
  }
  .Intro-wrapper{ 
 padding:10px;
 align-items: center;
 justify-content: center;
 text-align: center;
 height: 100%;
  }
  .navbar{
    display:none;
  }
  .navbar .main-menu{
    display:block;
    width:100%;
    position:relative;
    top:48px;
    left:0;
    padding:10px 0;
  }
  .navbar .main-menu ul{
    display:block !important;
    text-align:center;
  }
  .navbar .main-menu ul li{
    margin:5px 0;
   }
   .download-cv{
    margin: auto;
    font-size: 8px;
    text-align: center;
    justify-content: center;
    height: 30px;
   }
   .In-img{
    width: 200px;
   }
   .Intro-wrapper{
    width: 200px;
    
   }
   .In-greeting{
    font-size: 15px;
   }
   .In-greetingN , .In-greeting span{
    font-size: 15px;
   }
   .title-item{
    font-size:15px;
   }
 
}